In [192]:
# imports
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import re
import seaborn as sns
import os
import os.path, time
import sys
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [193]:
# import and concat dataframes
hd1Dataframe = pd.read_pickle('hd1Pickle')
hd2Dataframe = pd.read_pickle('hd2Pickle')
dfAll = hd1Dataframe.append(hd2Dataframe, ignore_index=True)

# double check that size is 6563+16730 --good
dfAll.shape
# take a look
dfAll.head()

(23293, 11)

,hard drive,school,video folder,file name,day,month,date,time,year,floatTime,full path
0,hd1,Agona Nkran Islamic,Video 1,VID0001.AVI,Tue,Feb,7,10:06:30,2017,10.1050,/Volumes/Seagate/hd1/Agona Nkran Islamic/Basel...
1,hd1,Agona Nkran Islamic,Video 1,VID0002.AVI,Tue,Feb,7,10:07:06,2017,10.1110,/Volumes/Seagate/hd1/Agona Nkran Islamic/Basel...
2,hd1,Agona Nkran Islamic,Video 1,VID0003.AVI,Tue,Feb,7,10:07:40,2017,10.1166,/Volumes/Seagate/hd1/Agona Nkran Islamic/Basel...
3,hd1,Agona Nkran Islamic,Video 1,VID0004.AVI,Tue,Feb,7,10:12:36,2017,10.2060,/Volumes/Seagate/hd1/Agona Nkran Islamic/Basel...
4,hd1,Agona Nkran Islamic,Video 1,VID0005.AVI,Tue,Feb,7,10:13:24,2017,10.2140,/Volumes/Seagate/hd1/Agona Nkran Islamic/Basel...

In [194]:
# resplit to check again
df1 = dfAll[dfAll['hard drive'] == 'hd1']
df2 = dfAll[dfAll['hard drive'] == 'hd2']
# recheck size
df1.shape[0]+df2.shape[0]
# looks good

23293

In [195]:
# check types
type(dfAll['date'][0])
type(dfAll['year'][0])
type(dfAll['floatTime'][0])
# convert date and year to ints
dfAll = dfAll.assign(date=dfAll.date.astype(np.int64))
dfAll = dfAll.assign(year=dfAll.year.astype(np.int64))
# recheck types --good
type(dfAll['date'][0])
type(dfAll['year'][0])
type(dfAll['floatTime'][0])

str

str

numpy.float64

numpy.int64

numpy.int64

numpy.float64

In [198]:
# save concatenated dataframe to pkl and csv
dfAll.to_pickle('bothHDsPKL')
dfAll.to_csv('bothHDsCSV')